<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"
        [icon]="buttonIcon"></ion-back-button>
      </ion-buttons>
      
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-grid class="mt-4"> 
    <ion-row>
      <ion-col size="12">
          <ion-text><h4>Set New Password</h4></ion-text>
          <ion-text><p>Be sure your password is safe and strong</p></ion-text>
      </ion-col>
      <ion-col size="12">
          <mat-form-field class="full-width">
              <input type="password" matInput placeholder="New Password">
              <mat-icon id="passwordvisibility" class="showhidepassword" matSuffix>visibility</mat-icon>
              </mat-form-field>
      </ion-col>
      <ion-col size="12">
          <mat-form-field class="full-width">
              <input type="password" matInput placeholder="Confirm Password">
              <mat-icon id="confirmpasswordvisibility" class="showhidepassword" matSuffix>visibility</mat-icon>
              </mat-form-field>
      </ion-col>
      <ion-col size="12">
          <button mat-raised-button class="full-width p-1" routerLink="resetPassword" routerLinkActive="active" color="primary">SUBMIT</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>