<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="hotels">
        <ion-icon name="bed"></ion-icon>
        <ion-label>Hotels</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="restro">
        <ion-icon name="pizza"></ion-icon>
        <ion-label>Food</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="journey">
        <ion-icon name="bus"></ion-icon>
        <ion-label>Tours</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="contact"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>



</ion-content>