<ion-header >
  <ion-toolbar color="primary">
    <ion-title>Application</ion-title>
   
        <ion-avatar slot="end" style="height:40px;width:40px;">
          <img src="https://www.w3schools.com/w3images/avatar2.png">
        </ion-avatar>
      
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-toolbar>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>

   
      <ion-slides #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)" pager="true" [options]="slideOpts">
          <ion-slide>
          <img class="slider-image" src="../../assets/images/misc/3.jpg">
          </ion-slide>
          <ion-slide>
          <img class="slider-image"  src="../../assets/images/misc/3.jpg">
          </ion-slide>
          <ion-slide>
          <img class="slider-image"  src="../../assets/images/misc/3.jpg">
          </ion-slide>
          </ion-slides>

              

          <ion-grid>
            <ion-row>
              <ion-col size="12">
                  <ion-card *ngFor="let obj of items;let i = index;"(click)="goToDescription(i)">
                        <div class="row">
                            <img src="../../assets/images/misc/3.jpg" class="img-fluid img-thumbnail" style="min-height:150px;max-height:150px;width: 100%;max-width: 100%;min-width: 100%;">
                        </div>
                        
                      <ion-item>
                        <ion-label>{{obj.name}}</ion-label>
                        <ion-label slot="end" class="text-right"><span *ngFor="let stars of [1,2,3,4,5]"><i class="fa fa-star" *ngIf="stars <= 3" style="color:goldenrod" aria-hidden="true"></i><i class="fa fa-star-o" *ngIf="stars > 3" aria-hidden="true"></i></span></ion-label>
                      </ion-item>
                     
                      <ion-card-content>
                          <ion-fab horizontal="end" slot="fixed" style="margin-top: -97px">
                              <ion-fab-button color="light" size="small" >
                                  <ion-icon *ngIf="i % 2 == 1" name="heart" style="color:rgb(250, 48, 48)"></ion-icon>
                                  <ion-icon *ngIf="i % 2 == 0" name="heart-empty"></ion-icon>
                              </ion-fab-button>
                            </ion-fab>
                       {{obj.address}}{{obj.address2}},{{obj.city}}
                      </ion-card-content>
                      <ion-card-content>
                        <ion-grid>
                          <ion-row>
                            <ion-col size="6">
                                <ion-text color="dark">
                                    <h5>Included in this price</h5>
                                    <ul>
                                      <li>Breackfast</li>
                                      <li>WIFI</li>
                                      <li>Swimming</li>
                                    </ul>
                                  </ion-text>
                            </ion-col>
                            <ion-col size="6" style="text-align: right">
                                <ion-button fill="outline">{{2500 * (i+10) | currency:"₹" }}</ion-button>
                                <ion-button fill="outline" color="danger" style="text-decoration: line-through;">{{2500 * (i+13) | currency:"₹" }}</ion-button>
                            
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                         
                      </ion-card-content>
                        <ion-card-header>
                          {{ 30 * (i +12.5)}} reviews for this.
                        </ion-card-header>
                    </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
          


          

              <!-- <ion-card *ngFor="let obj of items">

                  <ion-item>
                    <ion-avatar item-start>
                      <img src="../../assets/images/misc/3.jpg">
                    </ion-avatar>
                    <h2 text-capitalize>
                      {{obj.name}}
                      <ion-badge>
                        <ion-icon name="checkmark-circle"></ion-icon>
                      </ion-badge>
                    </h2>
                    <p text-capitalize>
                      {{obj.phone}}
                    </p>
                
                    <button ion-button item-end clear>
                      <ion-icon name="add-circle"></ion-icon>
                    </button>
                
                    <button ion-button item-end clear>
                      <ion-icon name="trash"></ion-icon>
                    </button>
                
                    <button ion-button item-end clear>
                      <ion-icon name="create"></ion-icon>
                    </button>
                
                  </ion-item>
                
                  <ion-card-content>
                    <p>{{obj.address}} {{obj.address2}}</p>
                  </ion-card-content>
                
                  <ion-row>
                    <ion-col text-left>
                      <button ion-button icon-start clear small (click)="like(obj, $event)">
                        <ion-icon name="happy"></ion-icon>
                        <div>{{obj.like}}</div>
                      </button>
                    </ion-col>
                
                    <ion-col text-center>
                      <button ion-button icon-start clear small>
                        <ion-icon name="add"></ion-icon>
                        <div>Ver más.</div>
                      </button>
                    </ion-col>
                
                    <ion-col text-right>
                      <button ion-button clear small>
                        <ion-icon name="paper-plane"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                
                </ion-card> -->



</ion-content>
