<ion-toolbar >
  <ion-searchbar></ion-searchbar>
</ion-toolbar>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>

   
      <ion-slides #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)" pager="true" [options]="slideOpts">
          <ion-slide>
          <img class="slider-image" src="../../assets/images/misc/3.jpg">
          </ion-slide>
          <ion-slide>
          <img class="slider-image"  src="../../assets/images/misc/3.jpg">
          </ion-slide>
          <ion-slide>
          <img class="slider-image"  src="../../assets/images/misc/3.jpg">
          </ion-slide>
          </ion-slides>


          <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor="let obj of items">
                <div class="row pl-1 pr-1">
              <ion-card>
                  <div class="row"><ion-img src="../../assets/images/misc/3.jpg" style="height:100px;width:100%;"></ion-img></div>
                <ion-card-header>
                  <ion-card-subtitle class="col-12 col-md-12 col-sm-12 col-lg-12 fixed-content">{{obj.name}}-{{obj.partner_reference}}</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                <!-- <span class="fixed-content">{{obj.address}} {{obj.address2}}</span> -->
                </ion-card-content>
              </ion-card>
              </div>
            </ion-col>
          </ion-row>
          </ion-grid>


   

</ion-content>
