<!-- 
  <ion-header >
    <ion-toolbar color="primary">
      <ion-title>Forgot Password</ion-title>
     
           <ion-avatar slot="end" style="height:40px;width:40px;">
            <img src="https://www.w3schools.com/w3images/avatar2.png">
          </ion-avatar> 
        
    </ion-toolbar>
  </ion-header> -->

  <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home"
          [icon]="buttonIcon"></ion-back-button>
        </ion-buttons>
        
      </ion-toolbar>
    </ion-header>

  <ion-content class="ion-container">
  <div class="container-fluid" >
      <div class="row mt-4">
        <div class="col-12 col-md-12 col-sm-12" style="z-index: 99 !important;">
          <ion-grid>
            <ion-row>
          <ion-col size="12" size-lg> 
            <ion-row>
              <ion-col class="ml-auto mr-auto" size="6">
                 <ion-img  src="../../assets/images/forgotpass/key.png" class="img-size"></ion-img>
                  </ion-col>
            </ion-row>  
            <div class="col-12 mt-3">
                <span class="text">
                  We just need your register Email ID to send your password reset Instruction
                </span>
                
              </div>
          <form class="example-form mt-4">
              <mat-form-field class="full-width">
              <input matInput placeholder="Type Your Email">
              <mat-icon id="passwordvisibility" matSuffix></mat-icon>
              </mat-form-field>
              <div class="row p-2">
                <button mat-raised-button class="full-width p-1 signin-btn" routerLink="verifyOtp" routerLinkActive="active" color="primary">SUBMIT</button>
              </div>
                          
            </form>
          </ion-col>
          </ion-row>
        </ion-grid>
  
        </div>
      </div>
    </div>


   
</ion-content>