input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.anchoreffect
{
    cursor: pointer;
    color: grey;
    font-size: 14px;
}
.showhidepassword
{
    cursor: pointer;
    color: grey;
    font-size: 20px;
}
// .img-size
// {
//     width:100px;
// }

.text {
    color: #616161;
    font-size: 15px;
    line-height: 1.7;
    font-size: 16px;
  }

