<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/tabs/hotels"
      [icon]="buttonIcon"></ion-back-button>
    </ion-buttons>
    <ion-title>{{fielddetails.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="row">
      <ion-slides #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)" pager="true" [options]="slideOpts">
          <ion-slide>
          <img class="slider-image details-slider" src="../../assets/images/misc/3.jpg">
          </ion-slide>
          <ion-slide>
          <img class="slider-image details-slider"  src="../../assets/images/misc/3.jpg">
          </ion-slide>
          <ion-slide>
          <img class="slider-image details-slider"  src="../../assets/images/misc/3.jpg">
          </ion-slide>
          </ion-slides>
          <ion-fab horizontal="end" slot="fixed" style="margin-top: 167px">
              <ion-fab-button color="light" size="small" >
                  <ion-icon *ngIf="fieldid % 2 == 1" name="heart" style="color:rgb(250, 48, 48)"></ion-icon>
                  <ion-icon *ngIf="fieldid % 2 == 0" name="heart-empty"></ion-icon>
              </ion-fab-button>
            </ion-fab>
  </div>
  <ion-grid>
      <ion-row>
          <ion-col size="12">
              <ion-item>
                  
                  <ion-text><h5>{{fielddetails.name}}</h5></ion-text>
                  <ion-label slot="end" class="text-right"><span *ngFor="let stars of [1,2,3,4,5]"><i class="fa fa-star" *ngIf="stars <= 3" style="color:goldenrod" aria-hidden="true"></i><i class="fa fa-star-o" *ngIf="stars > 3" aria-hidden="true"></i></span></ion-label>
                </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-grid>
            <ion-row class="pb-4">
                <ion-col size="3">
                    
                    <ion-fab>
                        <ion-fab-button color="light" size="large" >
                            <ion-icon name="pin"></ion-icon>
                        </ion-fab-button>
                        <ion-label class="mt-2">Location</ion-label>
                      </ion-fab>
                    
                    </ion-col>
                <ion-col size="3">
                    <ion-fab>
                        <ion-fab-button color="light" size="large" >
                            <ion-icon name="images"></ion-icon>
                        </ion-fab-button>
                        <ion-label class="mt-2">Photos</ion-label><br>
                        <!-- <ion-label class="mt-2">49</ion-label> -->
                      </ion-fab>
                    </ion-col>
                <ion-col size="3">
                    <ion-fab>
                        <ion-fab-button color="light" size="large" >
                            <ion-icon name="thumbs-up"></ion-icon>
                        </ion-fab-button>
                        <ion-label class="mt-2">Reviews</ion-label><br>
                        <!-- <ion-label class="mt-2">178</ion-label> -->
                      </ion-fab>
                    </ion-col>
                <ion-col size="3">
                    <ion-fab>
                        <ion-fab-button color="light" size="large" >
                            <ion-icon name="bed"></ion-icon>
                        </ion-fab-button>
                        <ion-label class="mt-2">Facilities</ion-label><br>
                        <!-- <ion-label class="mt-2">16</ion-label> -->
                      </ion-fab>
                    </ion-col>
                  </ion-row>
                  </ion-grid>
          </ion-col>
          
          <ion-col size="12" class="mt-4 pt-4">
              <ion-item>
          <ion-col size="7">
              <ion-text color="dark">
                  <h5>Included in this price</h5>
                  <ul>
                    <li>Breackfast</li>
                    <li>WIFI</li>
                    <li>Swimming</li>
                  </ul>
                </ion-text>
          </ion-col>
          <ion-col size="5" style="text-align: right">
            <div class="mt-3">
              <ion-button fill="outline">{{2500 * (fieldid+10) | currency:"₹" }}</ion-button>
              <ion-button fill="outline" color="danger" style="text-decoration: line-through;">{{2500 * (fieldid+13) | currency:"₹" }}</ion-button>
            </div>
          </ion-col>
        </ion-item>
        </ion-col>
      </ion-row>
  </ion-grid>


</ion-content>
